/*---> Basic commands <---*/
* {
    box-sizing: border-box;
}

body,html{
    width: 100%;
}
body{
    margin: 0;
    font-size: 18px;
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
    background: #fefbf9;
}
ul{
    padding: 0;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
h1,div{
    margin: 0;
}

/*---> Posicioning <---*/

body,main,.client,footer,.bottom-images{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
}
header{
    padding-top: 2%;
}
.logo{
    width: 15%;;
    height: 80px;
    line-height: 80px;
    text-align: center;
}
    .logo svg{
        vertical-align: middle;
    }
nav{
    height: 100px;
    display: inline-block;
    width: 85%;
}
    nav ul{
        display: inline-block;
        width: 100%;
        text-align: end;
    }
        nav ul li{
            display: inline;
            margin: 0 2%;
            height: 100px;
        }
            nav ul li a{
                color: white;
                transition: all 0.3s ease;
            }
            nav ul li a:hover{
                color: #e6e6e6;
            }

            nav ul li:last-child a{
                color: #333;
                background: white;
                border-radius: 20px;
                padding: 10px 40px;;
                font-family: "Fraunces", Arial, Helvetica, sans-serif;
                font-weight: 900;
            }
            nav ul li:last-child a:hover{
                background:#e6e6e6;
                color: #333;
            }

.introduction{
    font-family: "Fraunces", Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 3em;
    text-align: center;
    margin-bottom: 160px;
    text-transform: uppercase;
    letter-spacing: 8px;
}
header img{
    display: block;
    margin: 0 auto;
    font-size: 1em;
    margin-bottom: 340px;
}


header,footer,.introduction,.bottom-images{
    flex: 1 1 100%;
}
.block, .image-block{
    flex: 0 0 50%;
    height: 500px;
    padding: 2% 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}
.image-block{
    align-content: flex-end;
}
    .image-block > div{
        text-align: center;
    }
.block > div,.image-block > div{
    padding: 20px;
}
main h3{
    text-align: center;
    flex: 0 0 100%;
    margin: 0;
}
.client{
    padding: 10%;
}
.client-title{
    margin-bottom: 100px;
    flex: 1 0 100%;
}
.client-block{
    flex:1 0 28%;
    margin-right: 2%;
}
.client-block:last-child{
    margin-right: 0
}
.client img{
    display: block;
    margin: 0 auto;
    border-radius: 100%;
    width: 70px;
    height: 70px;
}
.client-commentary{
    margin: 50px 0;
    color: #85808e;
}
.client-name{
    font-family: "Fraunces", sans-serif;
    font-weight: 900;
    font-size: 1.2em;
    margin-bottom: 10px;
}
.client-profession{
    font-size: 0.8;
    color: #b5b2b8;
}
.image{
    flex: 1 0 25%;
    height: 350px;
    background-size: 100% 100%;
}
footer{
    padding: 50px;
}
footer svg{
    display: block;
    margin: 0 auto;
    margin-bottom: 30px;
    
}
footer svg path{
    background-color: #2a7263;
}
footer ul{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
footer li{
    flex: 0 1 7%;
    margin: 0 20px;
}
footer ul li a{
    color: #2a7263;;
}
footer .icons{
    display: block;
    margin: 20px auto;
}
footer .icons a{
    color: #215246;
    font-size: 1.4em;
    margin: 20px;
}

/* Decoration */

header{
    background-image: url(./images/desktop/image-header.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color: white;
}
.image-block:nth-child(2){
    background-image: url(./images/desktop/image-stand-out.jpg);
    background-size: 100% 100%;
}
.image-block:nth-child(3){
    background-image: url(./images/desktop/image-transform.jpg);
    background-size: 100% 100%;
}
.image-block:nth-child(5){
    background-image: url(./images/desktop/image-graphic-design.jpg);
    background-size: 100% 100%;
}
.image-block:nth-child(6){
    background-image: url(./images/desktop/image-photography.jpg);
    background-size: 100% 100%;
}
.block-title{
    color: #212d3c;
    font-size: 2.4em;
    font-family: "Fraunces", sans-serif;
    font-weight: 700;
}
.image-block-title{
    color: #215246;
    font-size: 2em;
    font-family: "Fraunces", sans-serif;
    font-weight: 700;
}
 .block > a{
    color: #212d3c;
    text-transform: uppercase;
    font-family: "Fraunces", sans-serif;
    font-weight: 900;
    position: relative;
    z-index: 1;
    transition: all 0.3s ease;
}
.block > a::after{
    position: absolute;
    z-index: 0;
    bottom: 0;
    left: -10%;
    content: '';
    width: 120%;
    height: 8px;
    border-radius: 5px;
    background-color: hsl(7, 99%, 70%);
    opacity: 0.4;
}
.block a:hover{
    transform: scale(1.2);
}
.block-text{
    color: #85808e;
}
.image-block-title, .image-block-text{
    color: #215246;
}
.client-title{
    font-family: 'Fraunces', sans-serif;
    text-align: center;
    font-size: 1.4em;
    text-transform: uppercase;
    color: #85808e;
    font-weight: 600;
}
.client-block > div{
    text-align: center;
}
.bottom-images > .image:nth-child(1){
    background-image: url(./images/desktop/image-gallery-milkbottles.jpg);
}
.bottom-images > .image:nth-child(2){
    background-image: url(./images/desktop/image-gallery-orange.jpg);
}
.bottom-images > .image:nth-child(3){
    background-image: url(./images/desktop/image-gallery-cone.jpg);
}
.bottom-images > .image:nth-child(4){
    background-image: url(./images/desktop/image-gallery-sugarcubes.jpg);
}
footer,.attribution{
    background: #91d4c4;
}
.attribution{
    flex: 1 0 100%
}

/* @media screen and (max-width: 768px) {
    body,main,header,.client,footer, header .logo{
        display: block;
        width: 100%;
        float: none;
    }
    header{
        font-size: 1rem;
    }
    nav{
        text-align: center;
    }
} */