/*---> Basic commands <---*/
* {
    box-sizing: border-box;
}

body,html{
    width: 100%;
}
body{
    margin: 0;
    font-size: 18px;
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
    background: #fefbf9;
}
ul{
    padding: 0;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
h1,div{
    margin: 0;
}

/*---> Posicioning <---*/

body,main,.client,footer,.bottom-images{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    padding: 1% 0;
}
.logo{
    font-size: 20px;
}
nav ul{
    display: flex;
    justify-content: space-around;
    width: 40%;/*control the space bettween the content */
}
            nav ul li a{
                color: white;
                transition: hover 0.3s ease;
            }
            nav ul li a:hover{
                color: #e6e6e6;
            }

            nav ul li:last-child a{
                color: #333;
                background: white;
                border-radius: 20px;
                padding: 10px 40px;;
                font-family: "Fraunces", Arial, Helvetica, sans-serif;
                font-weight: 900;
            }
            nav ul li:last-child a:hover{
                background:#e6e6e6;
                color: #333;
            }
    .hamburger{
        display: none;
        background: transparent;
        border: 0;
        color: #fff;
        cursor: pointer;
        font-size: 2em;
    }
.introduction{
    font-family: "Fraunces", Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 3em;
    text-align: center;
    margin-bottom: 160px;
    text-transform: uppercase;
    letter-spacing: 8px;
    padding: 0 2%;
}
header img{
    display: block;
    margin: 0 auto;
    font-size: 1em;
    margin-bottom: 20%;
}


header,footer,.introduction,.bottom-images{
    flex: 1 1 100%;
}
.block, .image-block{
    flex: 0 0 50%;
    height: 500px;
    padding: 2% 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}
.image-block{
    align-content: flex-end;
}
    .image-block > div{
        text-align: center;
    }
.block > div,.image-block > div{
    padding: 20px;
}
main h3{
    text-align: center;
    flex: 0 0 100%;
    margin: 0;
}
.client{
    padding: 10%;
}
.client-title{

    flex: 1 0 100%;
}
.client-block{
    margin-top: 100px;
    flex:1 0 28%;
    margin-right: 2%;
}
.client-block:last-child{
    margin-right: 0
}
.client img{
    display: block;
    margin: 0 auto;
    border-radius: 100%;
    width: 70px;
    height: 70px;
}
.client-commentary{
    margin: 50px 0 20px 0;
    color: #85808e;
}
.client-name{
    font-family: "Fraunces", sans-serif;
    font-weight: 900;
    font-size: 1.2em;
    margin-bottom: 10px;
}
.client-profession{
    font-size: 0.8;
    color: #b5b2b8;
}
.image{
    flex: 1 0 25%;
    height: 350px;
    background-size: 100% 100%;
}
footer{
    padding: 50px;
}
footer svg{
    display: block;
    margin: 0 auto;
    margin-bottom: 30px;
    
}
footer svg path{
    background-color: #2a7263;
}
footer ul{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
footer li{
    flex: 0 1 7%;
    margin: 0 20px;
}
footer ul li a{
    color: #2a7263;;
}
footer .icons{
    text-align: center;
    display: block;
    margin-top: 2%;
    padding: auto;
    width: 100%;
}
footer .icons a{
    color: #215246;
    font-size: 1.4em;
    margin: 2%;
}

/* Decoration */

header{
    background-image: url(./images/desktop/image-header.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color: white;
}
.image-block:nth-child(2){
    background-image: url(./images/desktop/image-stand-out.jpg);
    background-size: 100% 100%;
}
.image-block:nth-child(3){
    background-image: url(./images/desktop/image-transform.jpg);
    background-size: 100% 100%;
}
.image-block:nth-child(5){
    background-image: url(./images/desktop/image-graphic-design.jpg);
    background-size: 100% 100%;
}
.image-block:nth-child(6){
    background-image: url(./images/desktop/image-photography.jpg);
    background-size: 100% 100%;
}
.block-title{
    color: #212d3c;
    font-size: 2.4em;
    font-family: "Fraunces", sans-serif;
    font-weight: 700;
}
.image-block-title{
    color: #215246;
    font-size: 2em;
    font-family: "Fraunces", sans-serif;
    font-weight: 700;
}
 .block > a{
    color: #212d3c;
    text-transform: uppercase;
    font-family: "Fraunces", sans-serif;
    font-weight: 900;
    position: relative;
    z-index: 1;
    transition: all 0.3s ease;
}
.block > a::after{
    position: absolute;
    z-index: 0;
    bottom: 0;
    left: -10%;
    content: '';
    width: 120%;
    height: 8px;
    border-radius: 5px;
    background-color: hsl(7, 99%, 70%);
    opacity: 0.4;
}
.block a:hover{
    transform: scale(1.2);
}
.block-text{
    color: #85808e;
}
.image-block-title, .image-block-text{
    color: #215246;
}
.client-title{
    font-family: 'Fraunces', sans-serif;
    text-align: center;
    font-size: 1.4em;
    text-transform: uppercase;
    color: #85808e;
    font-weight: 600;
}
.client-block > div{
    text-align: center;
}
.bottom-images > .image:nth-child(1){
    background-image: url(./images/desktop/image-gallery-milkbottles.jpg);
}
.bottom-images > .image:nth-child(2){
    background-image: url(./images/desktop/image-gallery-orange.jpg);
}
.bottom-images > .image:nth-child(3){
    background-image: url(./images/desktop/image-gallery-cone.jpg);
}
.bottom-images > .image:nth-child(4){
    background-image: url(./images/desktop/image-gallery-sugarcubes.jpg);
}
footer,.attribution{
    background: #91d4c4;
}
.attribution{
    flex: 1 0 100%
}
@media screen and (max-width:1024px){

    nav ul{
        width: 60%;
    }
}
@media screen and (max-width: 768px) {
    body,main,.client,footer{
        display: block;
        width: 100%;
        float: none;
    }
    .hamburger{
        display: inline-block;
    }
    header{
        font-size: 1rem;   }
    nav{
        flex-wrap: wrap;
        padding: 5%;
    }
    .logo{
        flex: 1 0 80%;
    }
    nav ul{
        margin-top: 50px;
        flex-shrink: 0;
        flex-direction: column;
        justify-content:space-evenly;
        align-items: center;
        height: 300px;
        width: 90%;
        background:#fefbf9;
        font-size: 1.2em;
        position: relative;
        display: none;
    }
    nav ul:after{
        width: 0;
        height: 0;
        content: '';
        border: 50px solid transparent;
        border-right-color: #fefbf9;
        position: absolute;
        top: -25px;
        right: 0px;
    }
    nav ul li a{
        color: #85808e;
        transition: all 0.3s ease;
    }
    nav ul li a:hover{
        color: #111;
    }

    nav ul li:last-child a{
        color: #333;
        background: hsl(51, 100%, 49%);
        padding: 20px 40px;
        border-radius: 40px;
    }
    nav ul li:last-child a:hover{
        background:hsl(51, 100%, 40%);
    }
    .bottom-images div{
        flex: 1 0 50%;
        height: 200px;
    }
}
.nav-show{
    display: flex;
}