/*---> Basic commands <---*/
* {
    box-sizing: border-box;
}

body,html{
    width: 100%;
}
body{
    margin: 0;
}

/*---> FlexBox <---*/
body,main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
header,footer,.introduction{
    flex: 1 1 100%;
}
.block, .image-block{
    padding: 2%;
    flex: 0 0 50%;
}
main h3{
    text-align: center;
    flex: 0 0 100%;
}
.client-block{
    flex:0 0 33%;
}